<h1>Listing functions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Context</th>
    <th>Kind</th>
    <th>Return kind</th>
    <th>Body</th>
    <th>Class</th>
    <th>Object</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @functions.each do |function| %>
  <tr>
    <td><%= function.name %></td>
    <td><%= function.context_id %></td>
    <td><%= function.kind_id %></td>
    <td><%= function.return_kind_id %></td>
    <td><%= function.body %></td>
    <td><%= function.class_id %></td>
    <td><%= function.object_id %></td>
    <td><%= function.user_id %></td>
    <td><%= link_to 'Show', function %></td>
    <td><%= link_to 'Edit', edit_function_path(function) %></td>
    <td><%= link_to 'Destroy', function, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Function', new_function_path %>
