<style type="text/css">

</style>
<p id="notice"><%= notice %></p>
<br/>

<!--update-->
<form id="form" action="/scripts/<%= @script.id rescue "" %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <input name="script[name]" value="<%= @script.name rescue "" %>"/>
<!--</form>-->
<!---->
<!--<form id="form" action="/run/<%= @script.id rescue "" %>" method="post">-->
  <table>
    <tr>
      <td width="600px">

        <textarea name="script[text]" id="text" class="text"><%= @text %></textarea>
        <br/><b><input class="run" type="submit" value="RUN!"/></b><br/>
      </td>
      <td>
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="300" height="200">
          <circle cx="110" cy="80" r="30" stroke="black" stroke-width="2" fill="yellow" id="circle"/>
          <%@svg||=[]; @svg.each do |svg| %>
              <%= svg.html_safe %>
          <% end %>
          <%#= @svg.map(&:html_safe) %>
        </svg>
      </td>
    </tr>
  </table>
  <br/>
  <br/>
  <b class="blink">
    <%= @result %>
  </b>
  <script>
      blinks(4, 1);
      <%= @javascript %>
  </script>
</form>
<%= render 'compact', header: "examples" %>
<% @scripts=@versions #hack  %>
<%= render 'compact', header: "versions" %>
<%= link_to 'Destroy orphaned versions', '/scripts/destroy_orphaned_versions/'+@script.id rescue ""%>
