<!DOCTYPE html>
<html>
<head>
  <title>English script</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application","scripts" ,"table"%>

  <%= csrf_meta_tags %>

</head>

<body>
<a href="https://github.com/pannous/english-script"> <img class="logo" src="/English script.png" height=50/></a>

<div id="page">
    <div id="sidebar">
        <ul id="sidebar-items">
          <li><%= link_to "sandbox", "/sandbox" %>
          </li>
          <li><%= link_to "scripts", "/scripts" %>
          </li>
          <li><%= link_to "methods", "/functions" %>
          </li>
          <li><%= link_to "commands", "/commands" %>
          </li>
            <li><%= link_to "nodes", "/nodes" %>
            </li>
        </ul>
    </div>

    <div id="content"><%= yield %>
    </div>

    <div id="footer">&nbsp;</div>
</div>
</body>
</html>
